/**
 * loaded to remove angular template flicker on site load
 * @see http://docs.angularjs.org/api/ng.directive:ngCloak
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}

/** loading icon integration */
.icon-loading {
  background-image: url(../img/ajax-loader.gif);
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-position: 0 0;
  opacity: 1.0;
}

/** utilities */
/** for image replacement */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
/** end utilities */

/**
 * shared style declarations
 */
html, body {
  height: 100%;
  min-height: 100%;
}

.ctn-scroll::-webkit-scrollbar{width:8px;height:8px;}
.ctn-scroll::-webkit-scrollbar-button:start:decrement,
.ctn-scroll::-webkit-scrollbar-button:end:increment{display:block;height:0;background-color:transparent;}
.ctn-scroll::-webkit-scrollbar-track-piece{background-color:#FAFAFA;-webkit-border-radius:0;-webkit-border-bottom-right-radius:8px;-webkit-border-bottom-left-radius:8px;}
.ctn-scroll::-webkit-scrollbar-thumb:vertical{height:50px;background-color:#999;-webkit-border-radius:8px;}
.ctn-scroll::-webkit-scrollbar-thumb:horizontal{width:50px;background-color:#999;-webkit-border-radius:8px;}

.ctn-scroll {
  overflow: auto;
}

.ctn-fixed {
  position: fixed;
  top: 41px;
  left: 0;
  bottom: 0;
  right: 0;
}

@media (max-width: 979px) {
  .ctn-fixed {
    top: 51px;
  }
}

@media (max-width: 767px) {
  .ctn-fixed .ctn-side {
    display: none;
  }

  .ctn-fixed .ctn-main {
    right: 0;
  }
}

.ctn {
  float: left;
  height: 100%;

  border-left: solid 1px #DDD;
  overflow: auto;
}

.ctn-main {
  width: 50%;
}

.ctn-main > div {
  height: 100%;
  position: relative;
}

.ctn-side {
  width: 15%;
  z-index: 5;
  overflow: visible;
}

.ctn-playlist {
  width: 34%;
  float: right;
}

.chat form {
  position: absolute;
  left: 10px;
  right: 24px;
  bottom: 0;
  margin: 0;
}

.chat textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

.messages {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 70px;
}

.tracks {
  height: 100%;
}

.track {
  margin: 0;
  padding: 0;
  line-height: 40px;
  border-bottom: solid 1px #CCC;

  background-color: #FCFCFC;
}

.track.active {
  background-color: #F0F0F0;
  border-top: solid 1px #CCC;
  border-bottom: solid 2px #CCC;
}

.track .title {
  margin: 0 5px 0 5px;
  overflow: hidden;
}

.track img {
  height: 40px;
  margin-right: 10px;
  float: left;
}

.track .position {
  float: right;
  line-height: 40px;
}

.track-dropable {
  margin: 0;
  padding: 0;
  height: 4px;
  background-color: #CCA300;
  border-bottom: solid 1px #CCC;
}

/**
 * Start room
 */
.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 60px auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.participant {
  position: relative;
  margin: 10px;
  border: solid 1px;
  border-color: #CCC;
  border-radius: 4px;
  padding: 0;
}

.participant .options {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 20px;
  cursor: pointer;
  border: 1px #CCC;
}

.participant .options:hover {
  border-left-style: solid;
}

.participant img, .participant .options {
  padding: 1px;
  height: 36px;
}

.participant .options {
  padding-left: 8px;
  border-radius: 0 3px 3px 0;
}

.participant img {
  border-radius: 3px 0 0 3px;
  border-right: solid 1px #CCC;
}

.sc-user, .sc-user img, .sc-user .options:hover {
  border-color: #f60;
}