<!-- main area -->
<div class="ctn ctn-main">

  <!-- chat window -->
  <div ng-controller="ChatController" class="chat">
    <div class="messages ctn-scroll" ng-click="focusInput()">
      <div class="controls">
        <a href title="Clear messages" ng-click="clearMessages()">
          <i class="icon-remove"></i>
        </a>
      </div>

      <div ng-repeat="message in messages" class="message" ng-switch="message.type">
        <span ng-switch-when="text">
          <strong ng-show="message.user" ng-switch="isCurrent(message.user)">
            <span ng-switch-when="true">you</span>
            <span ng-switch-when="false" ng-bind="message.user.name"></span>
          </strong>
          <span ng-bind-html="message.message | linky:'_blank'"></span>
        </span>
        <span ng-switch-when="track">
          <span ng-show="message.user" ng-switch="isCurrent(message.user)">
            &lt;<span ng-switch-when="true">you</span><span ng-switch-when="false" ng-bind="message.user.name"></span>&gt;
          </span>
          <span ng-bind="message.message"></span>
          <a sound-cloud-user="message.track.user" /> - 
          <a sound-cloud-track="message.track" />
        </span>
        <span ng-switch-default>
          <span ng-bind-html="message.message | linky:'_blank'"></span>
        </span>
        <a href title="Undo action" ng-if="message.undo" ng-click="undoAction(message)" class="undo">
          <i class="icon-share-alt"></i>
        </a>
      </div>
    </div>

    <form ng-submit="send(input)">
      <textarea ng-model="input" id="chat-input" placeholder="Type message or song url" ng-keydown="isEnter($event) && send(input, $event)"></textarea>
      <div class="note">
        Messages will be sent to all members of this room. 
        Links to songs or playlists on <a target="_blank" tabindex="-1" href="https://soundcloud.com">SoundCloud</a> will be resolved and added to the room.
      </div>
    </form>
  </div>
</div>

<!-- playlist area -->
<div class="ctn ctn-playlist" 
     ng-class="{ 'show-fixed-top': showCurrentOnTop() }"
     ng-controller="TrackListController">

  <div class="fixed-top track active">
    <div
      class="box"
      current-track
      track="current"
      on-skip="skip(current, position)"
      on-stop="stop(current)"
      on-mute="mute(current)">
    </div>
  </div>

  <!-- track list -->
  <div class="ctn-scroll tracks" 
       ui-sortable="{ placeholder: 'track-dropable', opacity: '0.8', axis: 'y', stop: movedTrack }"
       ng-model="tracks">

    <div class="track"
         ng-repeat="track in tracks"
         ng-class="{ active: isPlaying(track), selected: isSelected(track) }"
         ng-switch="isPlaying(track)"
         ng-click="select(track)"
         focusable
         ng-focus="select(track)">

      <div
        class="box"
        ng-switch-when="true"
        current-track
        track="track"
        on-skip="skip(track, position)"
        on-stop="stop(track)"
        on-mute="mute(track)">

      </div>
      <div class="box" ng-switch-default>
        <img ng-src="{{ track.artwork_url }}" />

        <div track-title track="track"></div>
        <div class="controls">
          <div class="position">
            <span>{{ track.duration | time }}</span>
            <button class="btn btn-sm btn-link" tabindex="-1" ng-click="start(track)" title="Start track">
              <span class="glyphicon glyphicon-play"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- participants area -->
<div class="ctn ctn-side">

  <!-- participants list -->
  <div class="participants" ng-controller="ParticipantListController">
    <div class="participant" ng-class="{ 'sc-user': user.sc }" ng-repeat="user in participants">
      <img ng-if="user.sc" ng-src="{{ user.avatar_url }}"/>
      <img ng-if="!user.sc" src="../assets/img/app/no_avatar.png" />

      <span>
        {{ user.name }}
        <span ng-if="user.sc">(<a target="_blank" ng-href="{{ user.permalink_url }}">{{ user.username }}</a>)</span>
      </span>

      <div class="btn-group options">
        <a class="dropdown-toggle" toggle="dropdown">
          <i class="icon-user"></i>
        </a>
        <ul class="dropdown-menu pull-right">
          <li ng-if="user.sc"><a href ng-click="addFavorites(user)">Add Favorites</a></li>
          <li ng-if="!user.sc"><a href ng-click="connectToSoundCloud(user)">Connect to SoundCloud</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>