/**
 * loaded to remove angular template flicker on site load
 * @see http://docs.angularjs.org/api/ng.directive:ngCloak
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}

/** loading icon integration */
.icon-loading {
  background-image: url(../img/ajax-loader.gif);
  width: 16px;
  height: 16px;
  line-height: 16px;
  display: inline-block;
}

/** utilities */
/** for image replacement */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
/** end utilities */

/**
 * shared style declarations
 */
html, body {
  height: 100%;
  min-height: 100%;
}

/*********************
 * Scrollable
 *********************/

.ctn-scroll::-webkit-scrollbar{width:8px;height:8px;}
.ctn-scroll::-webkit-scrollbar-button:start:decrement,
.ctn-scroll::-webkit-scrollbar-button:end:increment{display:block;height:0;background-color:transparent;}
.ctn-scroll::-webkit-scrollbar-track-piece{background-color:#FAFAFA;-webkit-border-radius:0;-webkit-border-bottom-right-radius:2px;-webkit-border-bottom-left-radius:2px;}
.ctn-scroll::-webkit-scrollbar-thumb:vertical{height:50px;background-color:#999;-webkit-border-radius:2px;}
.ctn-scroll::-webkit-scrollbar-thumb:horizontal{width:50px;background-color:#999;-webkit-border-radius:2px;}

.ctn-scroll {
  overflow: auto;
}

.ctn-fixed {
  position: fixed;
  top: 51px;
  left: 0;
  bottom: 0;
  right: 0;
}

.ctn {
  float: left;
  height: 100%;

  border-left: solid 1px #DDD;
  overflow: auto;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
  margin-left: 10px;
  background-color: #58b123;
  color: #FCFCFC;

  text-shadow: 1px 1px 1px #18750B;
  
  -moz-box-shadow: -2px 0 0 rgba(255, 255, 255, .08);
       box-shadow: -2px 0 0 rgba(255, 255, 255, .08);
  
  border-color: rgba(173, 73, 0, .7) rgba(255, 255, 255, .15) #AD4900;
}

.ctn-main {
  width: 50%;
}

.ctn-join {
  padding: 10px;
  width: 100%;
}

.ctn-side {
  width: 15%;
  z-index: 5;
  overflow: visible;
}

.ctn-playlist {
  width: 35%;
  position: relative;
  float: right;
}

@media (max-width: 1150px) {
  .ctn-site {
    width: 20%;
  }

  .ctn-main {
    width: 45%;
  }

  .ctn-join {
    width: 100%;
  }
}

.chat {
  height: 100%;
  position: relative;
}

.join {
  margin: 10px;
}

.chat form {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
  margin: 0;
}

.chat textarea {
  width: 100%;
  margin-bottom: 5px;
  
  border: solid 1px #CCC;
  border-radius: 4px;
  padding: 3px 6px;
}

.note {
  font-size: 0.83em;
  color: #AAA;
  margin-bottom: 10px;
}

.chat .note {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.jumbotron .note {
  font-size: 60%;
  margin-bottom: 30px;
}

.jumbotron form {
  margin-bottom: 15px;
}

.jumbotron .note, .chat .note:hover {
  color: #333;
}

.messages {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 90px;
}

.messages .controls {
  position: absolute;
  top: -5px;
  right: 0;

  display: none;
  opacity: 0.2;
}

.messages:hover .controls {
  display: block;
}

.messages .controls:hover {
  opacity: 1.0;
}

.messages .controls a {
  display: inline-block;
  padding: 5px;
}

.message i {
  opacity: 0.3;
}

.message:hover i {
  opacity: 0.8;
}

/**********************
 * participant column
 **********************/

.participants {
  padding: 10px;
}

.participant {
  margin-bottom: 10px;
  padding: 0;
  border: solid 1px #CCC;
  border-radius: 4px;

  line-height: 34px;
}

.participant .options {
  cursor: pointer;
  border-left: solid 1px white;
}

.participant .name {
  width: 100%;
  padding: 0 10px;
}

.participant .name > div {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 60px;
}

.participant .options:hover, 
.participant .options.open {
  border-left-color:  #CCC;
}

.participant .options > a {
  display: inline-block;
  width: 100%;
  padding: 0 5px;
}

.participant img {
  height: 36px;
  width: 36px;
  padding: 1px;
}

.participant .options {
  width: 25px;
  border-radius: 0 3px 3px 0;
}

.participant img {
  border-radius: 3px 0 0 3px;
  border-right: solid 1px #CCC;
}

.sc-user, .sc-user img, .sc-user .options:hover {
  border-color: #58b123;
}

.disabled { opacity: 0.2; }

@media (max-width: 768px) {
  .participant .name {
    display: none;
  }

  .participant .options {
    width: 100%;
  }
}

/********************
 * track column
 ********************/

.tracks {
  height: 100%;
}

.tracks .btn {
  opacity: 0.5;
  padding: 2px 5px;
}

.tracks .btn .glyphicon {
  top: 0;
}

.tracks .btn:hover {
  opacity: 1.0;
}

.track-dropable {
  margin: 0;
  padding: 0;
  height: 4px;
  background-color: #CCA300;
  border-bottom: solid 1px #CCC;
}

.track {
  height: 39px;
  width: 100%;
  border-bottom: solid 1px #CCC;
  background-color: #FCFCFC;

  line-height: 39px;
  padding-right: 5px;
}

.box {
  width: 100%;
  display: table;
}

.box > * {
  display: table-cell;
  vertical-align: top;
}

.track .title > div {
  height: 40px;
}

.track img {
  margin: 2px 5px;
  padding: 1px;
  border: solid 1px #AAA;
  background: #FFF;

  width: 34px; 
  height: 34px; 
}

.track .title, .track .info {
  overflow: hidden;
  width: 100%;
}

.track .title > * {
  white-space: normal;
}

.track .controls {
  white-space: nowrap;
  margin-left: 10px;
}

.track.active {
  height: 71px;

  background: #DDD;
  background-image: linear-gradient(to bottom, #DDD, #BBB);
}

.track.fixed-top {
  border-bottom: solid 2px #fff;
}

.track.active .btn {
  opacity: 0.7;
  padding: 2px 5px;
}

.track.active .btn:hover {
  opacity: 1.0;
}

.track.active img { width: 66px; height: 66px; }

.track-progress {
  position: relative;
  line-height: 20px;
}

.track-progress .current-position {
  float: left;
}

.track-progress .total {
  float: right;
}

.track-progress .progress {
  height: 6px;
  border-radius: 3px;
  margin-bottom: 5px;
  cursor: pointer;
}

.ctn-playlist .fixed-top {
  position: fixed;
  top: 51px;
  right: 0;
  width: 35%;

  z-index: 10;
  display: none;
}

.ctn-playlist.show-fixed-top .fixed-top {
  display: block;
}

.track:focus {
  background: #E5F0E6;
}

.track.active:focus {
  background: #D5DEE2;
  background-image: linear-gradient(to bottom, #D5DEE2, #AAB2B9);
}


/*****************************
 * landing page
 *****************************/

.swap-switch-container {
  position:relative;
  height: 50px;
}

.swap-switch-animation.ng-enter,
.swap-switch-animation.ng-leave {
  -webkit-transition:0.25s linear all;
  -moz-transition:0.25s linear all;
  -o-transition:0.25s linear all;
  transition:0.25s linear all;
  position:absolute;
  top: 0;
}

.swap-switch-animation.btn.ng-enter,
.swap-switch-animation.btn.ng-leave {
  top: 1px;
}

.swap-switch-animation.ng-enter {
  opacity: 0.0;
}

.swap-switch-animation.ng-leave,
.swap-switch-animation.ng-enter.ng-enter-active {
  opacity: 1.0;
}

.swap-switch-animation.ng-leave.ng-leave-active {
  opacity: 0.0;
}


/*****************************
 * bootstrap 3 ui fixes
 *****************************/

@media (min-width: 769px) {
  .navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0px;
  }
}

.modal {
  overflow: auto;
}

.navbar-text {
  margin-right: 15px;
  margin-left: 15px;
}