<!DOCTYPE html>
<html lang="en">
  <head>
    <title>silent disco - distributed sounds</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="author" content="Nico Rehwaldt" />

    <link href="../assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="../assets/css/app.css" rel="stylesheet" />

    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.ico" />

    <script src="../assets/vendor/require/require.min.js"></script>
    <script src="bootstrap.js"></script>

    <base href="." ws-base="ws://localhost:8080/" />
  </head>
  <body ng-controller="DefaultController" ng-cloak>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex7-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/">
          silent disco
        </a>
        <p class="navbar-text navbar-room-name" title="#{{ roomId }}" ng-if="roomId">#{{ roomId }}</p>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex7-collapse" ng-controller="NavigationController">
        
        <ul class="nav navbar-nav">
          <li>
            <a href
               title="{{ (isNotificationsEnabled() ? 'Disable' : 'Enable') + ' desktop notifications' }}"
               ng-click="toggleNotifications()">

              <span class="glyphicon glyphicon-comment" ng-class="{ 'disabled' : !isNotificationsEnabled() }"></span>
            </a>
          </li>
          <li>
            <a href 
               title="{{ (isMuted() ? 'Unmute' : 'Mute') + ' room' }}"
               ng-click="toggleMute()">
              
              <span class="glyphicon" ng-class="{ 'glyphicon-volume-up': !isMuted(), 'glyphicon-volume-off': isMuted() }"></span>
            </a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href ng-class="{ active: aboutOpen }" ng-click="openAbout()">About</a>
          </li>
          <li>
            <a target="_blank" href="https://github.com/Nikku/silent-disco/issues">Issues</a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

    <!-- content view -->
    <div ng-view>
      
    </div>
  </body>
</html>
