<!DOCTYPE html>
<html lang="en">
  <head>
    <title>silent disco - distributed sounds</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="author" content="Nico Rehwaldt" />

    <link href="../assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="../assets/css/app.css" rel="stylesheet" />

    <link rel="shortcut icon" type="image/x-icon" href="../assets/img/favicon.ico" />

    <script src="../assets/vendor/require/require.js"></script>
    <script src="bootstrap.js"></script>

    <base href="." />
  </head>
  <body ng-controller="DefaultController" ng-cloak>
    <div>
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner" ng-controller="NavigationController">
          <div class="container-fluid">
            <a class="brand" href="#/">
              <span>silent disco</span>
            </a>
            <a title="Toggle mute" class="btn btn-small" ng-click="toggleMute()">
              <i ng-class="{ 'icon-volume-up': !isMuted(), 'icon-volume-off': isMuted() }"></i>
            </a>
            <a title="Toggle desktop notifications" class="btn btn-small" ng-click="toggleNotifications()">
              <i class="icon-comment" ng-class="{ 'disabled' : !isNotificationsEnabled() }"></i>
            </a>
            <ul class="nav">
              <li>
                <a href ng-class="{ active: aboutOpen }" ng-click="openAbout()">About</a>
              </li>
            </ul>
            <ul class="nav pull-right">
              <li><a target="_blank" href="https://github.com/Nikku/silent-disco/issues">Issues</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- content view -->
      <div ng-view>
        
      </div>
    </div>

    <div ng-include="'common/about.html'"></div>
  </body>
</html>
