<div class="ctn-fixed" ng-switch="room.connected">

  <!-- pre join ui -->
  <div class="ctn ctn-main" ng-switch-when="false">
    <!-- connect option -->
    <div ng-controller="JoinRoomController">
      <form ng-submit="join()">
        <input type="text" placeholder="Your nickname" ng-model="name" style="margin-top: 10px" />
        <input class="btn" type="submit" value="join room" />
      </form>
    </div>
  </div>
  <!-- pre join ui end -->


  <!-- room ui -->
  <div class="ctn ctn-main" ng-switch-when="true">

    <!-- chat window -->
    <div ng-controller="ChatController" class="chat">
      <div class="messages ctn-scroll">
        <div ng-repeat="message in messages" class="message">
          <strong ng-show="message.author" ng-bind="message.author"></strong>
          <span ng-bind="message.message"></span>
        </div>
      </div>

      <form ng-submit="send(input)">
        <textarea ng-model="input" placeholder="Type message or song url" ng-keydown="isEnter($event) && send(input, $event)"></textarea>
        <div class="note">
          Messages will be sent to all members of this room. 
          Links to songs on <a target="_blank" href="https://soundcloud.com">SoundCloud</a> will be resolved and added to playlist.
        </div>
      </form>
    </div>
  </div>

  <div class="ctn ctn-playlist" ng-class="{ 'playing': current }" ng-switch-when="true" ng-controller="TrackListController">

    <!-- current track -->
    <div class="current-track" ng-if="current">

      <img ng-src="{{ current.artwork_url }}" />

      <div class="info">
        <div class="title">
          <a target="_blank" ng-href="{{ current.user.permalink_url }}">{{ current.user.username }}</a>
          -
          <a target="_blank" ng-href="{{ current.permalink_url }}">{{ current.title }}</a>
        </div>
        <div class="controls">
          <button class="btn btn-small" ng-click="stop(current)"><i class="icon-stop"></i></button>
        </div>

        <div class="track-progress">
          <span class="current">{{ current.position | time }}</span>
          <span class="total">{{ current.duration | time }}</span>
          <div class="progress progress-info" ng-click="skip(current, $event)">
            <div class="bar" style="width: {{ (current.position / current.duration) * 100 }}%"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- track list -->
    <div class="tracks ctn-scroll" 
         ui-sortable="{ placeholder: 'track-dropable', opacity: '0.8', axis: 'y' }"
         ng-model="tracks">
      <div class="track"
           ng-repeat="track in tracks"
           ng-class="{ active: isPlaying(track) }">

        <img ng-src="{{ track.artwork_url }}" />

        <div class="info">
          <div class="title">
            <a target="_blank" ng-href="{{ track.user.permalink_url }}">{{ track.user.username }}</a>
            -
            <a target="_blank" ng-href="{{ track.permalink_url }}">{{ track.title }}</a>
          </div>
          <div class="controls">
            <div class="position" ng-switch="isPlaying(track)">
              <span ng-switch-when="false">
                <span>{{ track.duration | time }}</span>
                <button class="btn btn-small" ng-click="start(track)"><i class="icon-play"></i></button>
              </span>
              <span ng-switch-when="true">
                <span>{{ track.position | time }} / {{ track.duration | time }}</span>
                <button class="btn btn-small" ng-click="stop(track)"><i class="icon-stop"></i></button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ctn ctn-side" ng-switch-when="true">
    <!-- participants list -->
    <div class="participants" ng-controller="ParticipantListController">
      <div class="participant" ng-class="{ 'sc-user': user.sc }" ng-repeat="user in participants">
        <div ng-switch="user.sc">
          <div ng-switch-when="true">
            <img ng-src="{{ user.avatar_url }}"/>
            <a target="_blank" ng-href="{{ user.permalink_url }}">{{ user.username }}</a>

            <div class="btn-group options">
              <a class="dropdown-toggle" toggle="dropdown">
                <i class="icon-user"></i>
              </a>
              <ul class="dropdown-menu pull-right">
                <li><a href ng-click="addFavourites(user)">Add Favourites</a></li>
              </ul>
            </div>
          </div>
          <div ng-switch-default>
            <img src="../assets/img/app/no_avatar.png" />
            {{ user.username }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- room ui end -->
</div>