<div class="ctn-fixed" ng-switch="room.connected">

  <!-- pre join ui -->
  <div class="ctn ctn-main" ng-switch-when="false">
    <!-- connect option -->
    <div ng-controller="JoinRoomController">
      <form ng-submit="join()">
        <input type="text" placeholder="Your nickname" ng-model="name" style="margin-top: 10px" />
        <input class="btn" type="submit" value="join room" />
      </form>
    </div>
  </div>
  <!-- pre join ui end -->


  <!-- room ui -->
  <div class="ctn ctn-main" ng-switch-when="true">

    <!-- chat window -->
    <div ng-controller="ChatController" class="chat">
      <div class="messages ctn-scroll">
        <div ng-repeat="message in messages" class="message" ng-switch="message.type">
          <span ng-switch-when="text">
            <strong ng-show="message.user" ng-switch="isCurrent(message.user)">
              <span ng-switch-when="true">you</span>
              <span ng-switch-when="false" ng-bind="message.user.name"></span>
            </strong>
            <span ng-bind="message.message"></span>
          </span>
          <span ng-switch-when="track">
            <span ng-show="message.user" ng-switch="isCurrent(message.user)">
              &lt;<span ng-switch-when="true">you</span><span ng-switch-when="false" ng-bind="message.user.name"></span>&gt;
            </span>
            <span ng-bind="message.message"></span>
            <a target="_blank" ng-href="{{ message.track.user.permalink_url }}" ng-bind="message.track.user.username"></a> - 
            <a target="_blank" ng-href="{{ message.track.permalink_url }}" ng-bind="message.track.title"></a>
          </span>
          <span ng-switch-default>
            <span ng-bind="message.message"></span>
          </span>
        </div>
      </div>

      <form ng-submit="send(input)">
        <textarea ng-model="input" placeholder="Type message or song url" ng-keydown="isEnter($event) && send(input, $event)"></textarea>
        <div class="note">
          Messages will be sent to all members of this room. 
          Links to songs on <a target="_blank" href="https://soundcloud.com">SoundCloud</a> will be resolved and added to playlist.
        </div>
      </form>
    </div>
  </div>

  <div class="ctn ctn-playlist" ng-class="{ 'playing': current }" ng-switch-when="true" ng-controller="TrackListController">

    <!-- current track -->
    <div class="current-track" ng-if="current">

      <img ng-src="{{ current.artwork_url }}" />

      <div class="info">
        <div class="title">
          <a target="_blank" ng-href="{{ current.user.permalink_url }}">{{ current.user.username }}</a>
          -
          <a target="_blank" ng-href="{{ current.permalink_url }}">{{ current.title }}</a>
        </div>
        <div class="controls">
          <button class="btn btn-small" ng-click="stop(current)"><i class="icon-stop"></i></button>
        </div>

        <div class="track-progress">
          <span class="current">{{ current.position | time }}</span>
          <span class="total">{{ current.duration | time }}</span>
          <div class="progress" ng-class="{' progress-info': !current.loading, 'active progress-striped': current.loading}" ng-click="skip(current, $event)">
            <div class="bar" style="width: {{ (current.position / current.duration) * 100 }}%"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- track list -->
    <div class="tracks ctn-scroll" 
         ui-sortable="{ placeholder: 'track-dropable', opacity: '0.8', axis: 'y' }"
         ng-model="tracks">
      <div class="track"
           ng-repeat="track in tracks"
           ng-class="{ active: isPlaying(track) }">

        <img ng-src="{{ track.artwork_url }}" />

        <div class="info">
          <div class="title">
            <a target="_blank" ng-href="{{ track.user.permalink_url }}">{{ track.user.username }}</a>
            -
            <a target="_blank" ng-href="{{ track.permalink_url }}">{{ track.title }}</a>
          </div>
          <div class="controls">
            <div class="position" ng-switch="isPlaying(track)">
              <span ng-switch-when="false">
                <span>{{ track.duration | time }}</span>
                <button class="btn btn-small" ng-click="start(track)"><i class="icon-play"></i></button>
              </span>
              <span ng-switch-when="true">
                <span>{{ track.position | time }} / {{ track.duration | time }}</span>
                <button class="btn btn-small" ng-click="stop(track)"><i class="icon-stop"></i></button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ctn ctn-side" ng-switch-when="true">

    <!-- participants list -->
    <div class="participants" ng-controller="ParticipantListController">
      <div class="participant" ng-class="{ 'sc-user': user.sc }" ng-repeat="user in participants">
        <img ng-if="user.sc" ng-src="{{ user.avatar_url }}"/>
        <img ng-if="!user.sc" src="../assets/img/app/no_avatar.png" />

        <span>
          {{ user.name }}
          <span ng-if="user.sc">(<a target="_blank" ng-href="{{ user.permalink_url }}">{{ user.username }}</a>)</span>
        </span>

        <div class="btn-group options">
          <a class="dropdown-toggle" toggle="dropdown">
            <i class="icon-user"></i>
          </a>
          <ul class="dropdown-menu pull-right">
            <li ng-if="user.sc"><a href ng-click="addFavorites(user)">Add Favorites</a></li>
            <li ng-if="!user.sc"><a href ng-click="connectToSoundCloud(user)">Connect to SoundCloud</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- room ui end -->
</div>